access_token potential for confusion

Section 7.2 includes a "access_token", which is part of the token exchange protocol. RFC 8693 makes it clear that it des not need to be an OAuth token, but perhaps we can reference that this parameter is define in RFC 8693?

Perhaps something like:

"The following describes required values of the token exchange protocol as defined in RFC 8693 which must be included in the Txn-Token Response:"

or

"A successful response to a Txn-Token Request by a Transaction Token Service is called a Txn-Token Response. The Txn-Token Response is a profile of the token exchange response defined in RFC 8693. If the Transaction Token Service responds with an error, the error response is as described in Section 5.2 of RFC6749. The following describes required values of the token exchange protocol as defined in RFC 8693 which must be included in the Txn-Token Response:"

I'm not seeing access_token mentioned in section 7.2 other than implicitly when referencing the token types defined by 8693.

Yes, section 7.4.