Is unsigned subject_token always Base64 URL format?

From the MCP Community chat:

Frederick (ffkiv_02286) wrote

```
7.2.2.  Unsigned JSON Object Subject Token Type

   A requester MAY use an unsigned JSON object as a subject_token value.
   In that case, the requester MUST set the subject_token_type value to:
   urn:ietf:params:oauth:token-type:unsigned_json.  The value of the
   subject_token field MUST be the BASE64URL encoded value of the JSON
   object as described in Section 5 of [RFC6848].  The JSON object in
   the subject token MUST contain the following fields:
```

it's unclear if the subject_token is always supposed to be base64url or only when unsigned. the examples show it always baser64url encoded, might be good to call out these encoding requirements in a more prominent place.
so interpretation could be: always, or only when unencrypted

I assume that signed implies a signed JWT which is always presented in base64url encoded format anyway, but it would be good to clarify this.

Also see https://github.com/oauth-wg/oauth-transaction-tokens/issues/196